/* CreateProjectForm */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.main {
  background: #A7D7C5;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.create-project-form-container {
  width: 360px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.create-project-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.create-project-form h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;

}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

input {
  border-radius: 5px;
  background: #f2f2f2;
}

button {
  border-radius: 5px;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* CreateProjectForm */

/* ProjectCard */
.project-card-container {
  width: 360px;
  min-height: 30vh;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin-top: 20px;
  margin-left: 55px;
  display: inline-block;
  text-align: left;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  padding: 20px;


}
/* ProjectCard */



/* MyProjects */
.myprojects-container {
  background: #A7D7C5;
  display: inline-block;
  min-height: 100vh;
}

.myprojects-container h2{
  text-align: center;
  font-family: "Roboto", sans-serif;


}

/* MyProjects */
