<<<<<<< HEAD
/* CreateProjectForm */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{
      background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F5137803.jpg&f=1&nofb=1&ipt=c0ce877d619708834bf83db89e1835c363efbdba6de7a9e158fee941da8823c3&ipo=images);
      object-fit: fill;
}
.main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 50px
=======
/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
>>>>>>> acaec33ead22a4dede603cf62282f21df89a371b

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #e0e0e0;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */


@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{
      background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F5137803.jpg&f=1&nofb=1&ipt=c0ce877d619708834bf83db89e1835c363efbdba6de7a9e158fee941da8823c3&ipo=images);
      object-fit: fill;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px
}
.create-project-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
.create-project-form h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
button {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: rgb(25, 180, 129);
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.button:active,
.button:focus {
  background-color: #102770;
  color: #ffa7d7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
button:hover{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

button:disabled {
  cursor: default;
}

/* CreateProjectForm */

/* ProjectCard */
.project-card-container {
  width: 360px;
  min-height: 30vh;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  margin-top: 20px;
  margin-left: 55px;
  display: inline-block;
  text-align: left;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  padding: 20px;


}
/* ProjectCard */



/* MyProjects */
.myprojects-container {
  background: #A7D7C5;
  display: inline-block;
  min-height: 100vh;
}

.myprojects-container h2{
  text-align: center;
  font-family: "Roboto", sans-serif;


}

/* MyProjects */


/* Navbar starts here */
.nav-container{
    background-color: #E5E5E5;
    width: 300px;
    height: 100vh;
    position: relative;
    transition: 0.4s;
    display: inline-block;
}

.nav-upper, .nav-heading{
    display: grid;
    
}
.company-name{
    text-decoration: none; 
    color: #B4CD93;
    height: 75px;
    font-size: 40px;
    text-align: center;
    font-weight:1000;
    font-style: italic; 
}

.nav-heading h1 a{
    text-decoration: none;
}
.nav-heading{
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 75px;
    margin-top: 120px;
    justify-content: center;
}
.dev-name{
    margin-left: 5px 5px;
}

.nav-brand{
    display: flex;
}

.nav-brand img{
    width: 30px;
    padding: 0 10px;
    margin-right: 5px;
}

.dev-id{
    margin-top: 60px;
    margin-right: 10px;
    font-size: 10px;
    
}

.hamburger{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: var(--primary);
    border: 2px solid var(--light);
    padding: 20px;
    border-radius: 90px;
    height: 71px;
    width: 74px;
}

.Dash{
    margin-top: 250px;
    text-align: center;
}
.nav-dash{
    margin-top: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-dash img{
    width: 30px;
    padding: 0 10px;
    margin-right: 5px;

}
.nav-dash h2 a{
    text-decoration: none; 

}

/* Navbar ends here */

/* project section for developers dashboard starts */
.project-container{
    background: #D9D9D9;
    display: inline-block;
    margin-left: 400px;
    width: 60%;
    height: 85vh;
}


.project-container h1{
    color: black;
}
/* project section for developers dashboard end*/