
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

.text {
    text-align: center;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    width: 40ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
    margin: auto;
}
.Homelink{
display: flex;
justify-content: space-between;
text-align: center;
}
.Homelink a {
    display: inline-block;
    margin: 50px;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5em;
    color: orangered;
    padding-top: 40%;

}
.container{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    height: 25vh;
}
.one{
   background-image: url(https://images.unsplash.com/photo-1549907062-15122f762606?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTF8MTU0NjY2fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
   padding: 24vh 60px 0px;
   bottom: 0;
   width: 150px;
}
 .two{
    background-image: url(https://images.pexels.com/photos/5668886/pexels-photo-5668886.jpeg?auto=compress&cs=tinysrgb&w=300);
    bottom: 0;
    padding: 24vh 60px 0px;
    width: 150px;
 }
.nav-item{
    display: inline-block;
    padding: 0.5em;
}
@keyframes typing {
    from {
        width: 0
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}